{% extends "base.html" %}
{% block title %} Homepage FILMS {% endblock %}
{% block head %}
<style>
    body {
        color: lightgreen;
    }
</style>
{% endblock %}
{% block body %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
<br>
			<h4>
				Explication du projet
			</h4>
			<p>

Pour commencer, le projet consistera à noter toutes les plantes qui ont poussé dans le jardin de ma grand-maman.<br>
				Pour l'instant, nous avons inscrit les plantes dont nous nous sommes souvenus avoir planté, et nous pensons ajouter davantage de données dans les années à venir.<br>
				Ma grand-maman a toujours voulu avoir un endroit où elle pourrait retrouver les plantes qu'elle avait déjà plantées, donc ce projet a été idéal pour réaliser ce souhait qu'elle avait depuis longtemps.<br>


			</p>
<br>
			<img src="../static/images/Jardin_de_ma_grand_maman.jpg" alt="Jardin de ma grand-maman" width="300"><br><br>


		</div>
	</div>
</div>
{% endblock %}
