{% extends "base.html" %}
{% block title %} Afficher plantes habitat {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Liste des Plantes et Habitats</h2>
            <p>Habitats</p>

            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">ID Liaison</th>

                        <th class="align-middle">Nom Commun</th>
                        <th class="align-middle">Nom Scientifique</th>
                        <th class="align-middle">Famille</th>

                        <th class="align-middle">Description</th>
                        <th class="align-middle text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                    <tr>
                        <td class="align-middle">{{ row.ID_Plantes_Habitat }}</td>

                        <td class="align-middle">{{ row.Nom_Commun }}</td>
                        <td class="align-middle">{{ row.Nom_Scientifique }}</td>
                        <td class="align-middle">{{ row.Famille }}</td>

                        <td class="align-middle">{{ row.Description }}</td>
                        <td class="text-center align-middle">
                             <a class="btn btn-primary" href="{{ url_for('liaison_ajouter_wtf') }}" role="button">Ajouter</a>
                            <a class="btn btn-warning" href="{{ url_for('liaison_update_wtf', id_liaison=row.ID_Plantes_Habitat) }}" role="button">Edit</a>
                            <a class="btn btn-danger" href="{{ url_for('liaison_delete_wtf', id_liaison=row.ID_Plantes_Habitat) }}" role="button">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            {% else %}
                <tbody>
                    <tr>
                        <td colspan="8" class="text-center">Aucun habitat.</td>
                    </tr>
                </tbody>
            {% endif %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
