{% extends "base.html" %}
{% block title %} Afficher Plantes Utilisation {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>
                Plantes Utilisation
            </p>
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">ID Plantes Utilisation</th>

                        <th class="align-middle">Nom Commun</th>
                        <th class="align-middle">Nom Scientifique</th>
                        <th class="align-middle">Famille</th>

                        <th class="align-middle">Description Utilisation</th>
                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
                <tbody>
                    <tr>
                        <td class="align-middle">{{ row.ID_Plantes_Utilisation }}</td>

                        <td class="align-middle">{{ row.Nom_Commun }}</td>
                        <td class="align-middle">{{ row.Nom_Scientifique }}</td>
                        <td class="align-middle">{{ row.Famille }}</td>

                        <td class="align-middle">{{ row.Description_Utilisation }}</td>
                        <td class="text-center" class="align-middle">
                            <a class="btn btn-primary" href="{{ url_for('plantes_utillisation_ajouter_wtf') }}" role="button">Ajouter</a>
                        </td>
                        <td class="text-center" class="align-middle">
                            <a class="btn btn-warning" href="{{ url_for('plantes_utillisation_modifier_wtf', ID_Plantes_Utilisation_btn_edit_html=row.ID_Plantes_Utilisation) }}" role="button">Edit</a>
                        </td>
                        <td class="text-center" class="align-middle">
                            <a class="btn btn-danger" href="{{ url_for('plantes_utillisation_supprimer_wtf', ID_Plantes_Utilisation_btn_delete_html=row.ID_Plantes_Utilisation) }}" role="button">Delete</a>

                        </td>
                    </tr>
                </tbody>
            {% else %}
                <tbody>
                    <tr>
                        <td colspan="10">Aucun Utilisation.</td>
                        <td>
                            <a class="btn btn-primary" href="{{ url_for('plantes_utillisation_ajouter_wtf') }}" role="button">Ajouter</a>
                        </td>
                    </tr>
                </tbody>
            {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
